{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <h1>Links and Layout Customization</h1>

  <a class="block-link" href="https://www.qu.edu.sa" target="_blank">Go to QU website (open in a new tab)</a>
  <a class="block-link" href="https://www.qu.edu.sa" target="_self">Go to QU website (open in the same tab)</a>
  <a class="block-link" href="https://www.qu.edu.sa">Go to QU website (open in same page)</a>

</body>
</html>